::-webkit-scrollbar {
  margin-right: 10px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

header .header {
  width: 100%;
  height: 56px;
  font-size: 0.875rem;
  color: #343a40;
  background-color: #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1240px) {
  header .header .left {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  header .header .right {
    display: none;
  }
}
header .right {
  padding-right: 25px;
}
header .social-media {
  margin-left: 15px;
}
header .social-media i {
  font-size: 14px;
  margin-right: 5px;
}
header .social-media span {
  font-size: 15px;
  font-family: monospace;
}
header .fa-brands:hover {
  cursor: pointer;
  color: #bcac76;
}
header .fa-phone {
  margin-left: 15px;
}
header .fa-solid {
  font-size: 12px;
  font-weight: bolder;
}
header .dropbtn {
  border: none;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  color: #343a40;
}
header .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 150px;
  overflow: auto;
  z-index: 1;
}
header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header input::-moz-placeholder {
  color: #b6bdc4;
}
header input::placeholder {
  color: #b6bdc4;
}
header .container-fluid {
  width: 100%;
}
header .container-fluid .lists {
  margin-top: 30px;
}
header .container-fluid .lists ul {
  display: flex;
  list-style: none;
}
header .container-fluid .lists ul li {
  z-index: 10000;
  cursor: pointer;
  padding: 0 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  text-decoration: none;
}
header .container-fluid .lists ul li .active {
  color: black;
}
header .container-fluid .lists ul li:hover {
  color: black;
}
header .container-fluid .lists ul li i {
  transition: 0.4s;
  transform: rotateZ(0deg);
}
header .container-fluid .lists .home-list {
  display: none;
  position: relative;
  left: 100px;
  font-size: 14px;
  width: 30%;
  background-color: white;
  padding: 12px 0 12px 48px;
}
header .container-fluid .lists .home-list li {
  display: flex;
  padding: 7px 0;
  position: relative;
  right: 17px;
  font-weight: 600;
  color: #868e96;
}
header .container-fluid .otherDiv {
  display: none;
}
header .container-fluid .input-basket {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px 0 50px;
}
header .container-fluid .input-basket .search {
  padding: 5px;
  margin-top: 6px;
  border-bottom: 1px solid lightgray;
  transition: 0.4s;
}
header .container-fluid .input-basket .search input {
  border: none;
  outline: none;
  background-color: transparent;
}
header .container-fluid .input-basket .search i {
  font-size: 18px;
}
header .container-fluid .input-basket .search:hover {
  border-bottom: 1px solid black;
}
header .container-fluid .input-basket .person-basket .person {
  font-size: 26px;
}
header .container-fluid .input-basket .person-basket .phoneList {
  display: none;
}
header .container-fluid .input-basket .person-basket .basket {
  font-size: 22px;
}
header .container-fluid .input-basket .person-basket .menu {
  font-size: 26px;
}
header .container-fluid .input-basket .person-basket i {
  padding: 0 6px;
  font-size: 22px;
  transition: 0.3s;
}
header .container-fluid .input-basket .person-basket i:hover {
  color: #bcac76;
}
header .container-fluid .input-basket .person-basket span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-size: 11px;
  background-color: #bcac76;
}
header .container-fluid .input-basket .person-basket .wishlist {
  right: 142px;
}
header .container-fluid .input-basket .person-basket .baskett {
  right: 103px;
}
@media screen and (max-width: 990px) {
  header .container-fluid .row {
    justify-content: center;
    width: 100%;
  }
  header .container-fluid .row .lists ul .myList {
    display: none;
  }
  header .container-fluid .row .otherDiv {
    display: block;
    display: flex;
    padding: 0 !important;
    justify-content: center;
    width: 100%;
  }
  header .container-fluid .row .otherDiv .input-basket .myList {
    position: relative;
    text-align: center;
  }
  header .container-fluid .row .otherDiv .input-basket .myList span {
    right: -4px;
  }
  header .container-fluid .row .otherDiv .input-basket .myList .wishlist {
    right: 29px;
  }
  header .container-fluid .row .baseDiv .input-basket {
    justify-content: end;
  }
  header .container-fluid .row .baseDiv .input-basket .search {
    display: none;
  }
  header .container-fluid .row .baseDiv .input-basket .phoneList {
    display: block;
  }
  header .container-fluid .row .baseDiv .input-basket .myList .person,
  header .container-fluid .row .baseDiv .input-basket .myList .bi-heart,
  header .container-fluid .row .baseDiv .input-basket .myList .bi-basket,
  header .container-fluid .row .baseDiv .input-basket .myList .bi-person,
  header .container-fluid .row .baseDiv .input-basket .myList .baseList,
  header .container-fluid .row .baseDiv .input-basket .myList span {
    display: none;
  }
}
@media screen and (max-width: 1233px) {
  header .container-fluid .lists {
    margin-top: 30px;
  }
  header .container-fluid .lists ul li {
    z-index: 10000;
    cursor: pointer;
    padding: 0 5px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    text-decoration: none;
  }
  header .container-fluid .lists ul li .active {
    color: black;
  }
  header .container-fluid .lists ul li:hover {
    color: black;
  }
  header .container-fluid .lists ul li i {
    transition: 0.4s;
    transform: rotateZ(0deg);
  }
  header .container-fluid .input-basket {
    display: flex;
    justify-content: space-between;
    margin: 30px 10px 0 10px;
  }
  header .container-fluid .input-basket .search {
    padding: 5px;
    border-bottom: 1px solid lightgray;
    transition: 0.4s;
  }
  header .container-fluid .input-basket .search input {
    border: none;
    outline: none;
    background-color: transparent;
  }
  header .container-fluid .input-basket .search i {
    font-size: 14px;
  }
  header .container-fluid .input-basket .search:hover {
    border-bottom: 1px solid black;
  }
  header .container-fluid .input-basket .person-basket {
    position: relative;
  }
  header .container-fluid .input-basket .person-basket .person {
    font-size: 17px;
  }
  header .container-fluid .input-basket .person-basket .basket {
    font-size: 22px;
  }
  header .container-fluid .input-basket .person-basket .menu {
    font-size: 26px;
  }
  header .container-fluid .input-basket .person-basket i {
    padding: 0 6px;
    font-size: 16px;
    transition: 0.3s;
  }
  header .container-fluid .input-basket .person-basket i:hover {
    color: #bcac76;
  }
  header .container-fluid .input-basket .person-basket span {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    background-color: #bcac76;
  }
  header .container-fluid .input-basket .person-basket .wishlist {
    right: 60px;
  }
  header .container-fluid .input-basket .person-basket .baskett {
    right: 30px;
  }
}

#responsiveList {
  display: none;
}
@media screen and (max-width: 990px) {
  #responsiveList {
    display: none;
    width: 100%;
    background-color: white;
    padding: 20px 0;
  }
  #responsiveList .lists {
    margin-top: 30px;
    z-index: 102;
  }
  #responsiveList .lists ul {
    list-style: none;
  }
  #responsiveList .lists ul li {
    color: black;
    z-index: 10000;
    cursor: pointer;
    padding: 6px 0;
    font-size: 13px;
    color: black !important;
    font-weight: 600;
    text-decoration: none;
  }
  #responsiveList .lists ul li .active {
    color: black;
  }
  #responsiveList .lists ul li:hover {
    color: black;
  }
  #responsiveList .lists ul li i {
    font-size: 10px;
    transition: 0.4s;
    transform: rotateZ(0deg);
  }
  #responsiveList .lists ul li .title {
    color: black;
    font-weight: 600;
  }
  #responsiveList .lists ul li p {
    font-weight: 500;
    color: gray;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
  }
  #responsiveList .lists ul li p:hover {
    color: black;
  }
  #responsiveList .lists ul li p span {
    display: inline-block;
    margin-left: 12px;
    font-size: 11px;
    padding: 4px 12px;
    border-radius: 10px;
    background-color: #f7f5ef;
    color: #bcac76;
    font-weight: 700;
  }
  #responsiveList .lists ul li p a {
    text-decoration: none;
    color: gray;
  }
  #responsiveList .lists ul li p a:hover {
    color: black;
  }
  #responsiveList .lists ul li #homeDro {
    display: none;
  }
  #responsiveList .lists ul li .homeDro {
    background-color: white;
    padding: 0 0;
  }
  #responsiveList .lists ul li #shopDow {
    display: none;
  }
  #responsiveList .lists ul li .shopDown {
    background-color: white;
  }
  #responsiveList .lists ul li .shoppp {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
  }
  #responsiveList .search {
    padding: 5px 12px;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    transition: 0.4s;
  }
  #responsiveList .search input {
    border: none;
    outline: none;
    background-color: transparent;
  }
  #responsiveList .search i {
    font-size: 15px;
  }
  #responsiveList .search:hover {
    border-bottom: 1px solid black;
  }
}

#dropDown {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 990px) {
  #dropDown {
    display: none;
  }
}
#dropDown .title {
  color: black;
  font-weight: 600;
}
#dropDown p {
  font-weight: 500;
  color: gray;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}
#dropDown p:hover {
  color: black;
}
#dropDown p span {
  display: inline-block;
  margin-left: 12px;
  font-size: 11px;
  padding: 4px 12px;
  border-radius: 10px;
  background-color: #f7f5ef;
  color: #bcac76;
  font-weight: 700;
}
#dropDown p a {
  text-decoration: none;
  color: gray;
}
#dropDown p a:hover {
  color: black;
}
#dropDown #homeDrop {
  display: none;
}
#dropDown .homeDrop {
  animation-duration: 0.5s;
  box-shadow: 1px 2px 10px 2px lightgray;
  position: absolute;
  top: 70px;
  left: 140px;
  background-color: white;
  padding: 20px 20px;
  transition: all 0.4s;
}
#dropDown #shopDown {
  display: none;
}
#dropDown .shopDown {
  animation-duration: 0.5s;
  position: absolute;
  top: 70px;
  left: 220px;
  background-color: white;
}
#dropDown .shopDown .parent {
  display: flex;
}
#dropDown .shopDown .parent .pages {
  padding: 55px 30px 0 30px;
}
#dropDown .shopDown .parent .proPages {
  padding: 55px 30px 0 30px;
}
#dropDown .shopDown .parent .image {
  height: 300px;
  overflow: hidden;
  text-align: center;
}
#dropDown .shopDown .parent .image img {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
#dropDown #iconsDown {
  display: none;
}
#dropDown .iconsDown {
  animation-duration: 0.5s;
  box-shadow: 1px 2px 10px 2px lightgray;
  position: absolute;
  top: 70px;
  left: 300px;
  padding: 20px 20px 0 20px;
  transition: all 0.4s;
  background-color: white;
}
#dropDown .iconsDown .icon-name {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#dropDown .iconsDown .icon-name p {
  color: #343a40;
  font-weight: 700;
  font-size: 15px;
  padding: 0 5px;
}
#dropDown .iconsDown .icon-name p i {
  font-size: 40px;
}
#dropDown .iconsDown .icon-name .dress {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#dropDown .iconsDown .icon-name:hover .dress {
  border-bottom: 2px solid black;
}
#dropDown .iconsDown .bottomText {
  padding: 20px 0 5px 0;
  display: flex;
  justify-content: center;
  background-color: #bcac76;
}
#dropDown .iconsDown .bottomText p {
  color: black;
  font-weight: 500;
}
#dropDown #pagesDown {
  display: none;
}
#dropDown .pagesDown {
  z-index: 0;
  animation-duration: 0.5s;
  box-shadow: 1px 2px 10px 2px lightgray;
  position: absolute;
  top: 70px;
  left: 140px;
  padding: 20px 20px 0 20px;
  transition: all 0.4s;
  background-color: white;
  width: 85%;
}
#dropDown .pagesDown .image img {
  width: 100%;
}
#dropDown .pagesDown .info-1 {
  margin-top: 16px;
}
#dropDown .pagesDown .info-1 h4 {
  font-size: 16px;
  font-weight: 600;
}
#dropDown #docsDrop {
  display: none;
}
#dropDown .docsDrop {
  animation-duration: 0.5s;
  width: 15%;
  box-shadow: 1px 2px 10px 2px lightgray;
  position: absolute;
  top: 80px;
  left: 460px;
  background-color: white;
  padding: 20px 0 10px 0;
  transition: all 0.4s;
}
#dropDown .docsDrop p {
  padding: 5px 20px;
  font-weight: 500;
}

#staticBackdrop {
  width: 100%;
}
#staticBackdrop #SideBasket {
  display: flex;
  justify-content: end;
}
#staticBackdrop #SideBasket .modal-dialog {
  width: 100%;
}
#staticBackdrop #SideBasket .modal-dialog .parent {
  border-radius: 0;
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
  height: 100vh;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-header {
  border-bottom: none;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-header button {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 20px;
  transition: 0.2s;
  font-weight: 200;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-header button:hover {
  transform: rotate(90deg);
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-body {
  height: 700px;
  overflow: scroll;
  overflow-x: hidden;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-body::-webkit-scrollbar {
  margin-right: 10px;
  width: 5px;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-body::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-body .products {
  display: flex;
  padding: 26px 0;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-body .products .image {
  margin-left: 25px;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-body .products .image img {
  width: 100px;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-body .products .name-price {
  margin: 5px 15px;
  padding: 0;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-body .products .name-price .name {
  font-weight: bolder;
  font-size: 17px;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-body .products .name-price .quantity {
  color: gray;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-body .products .name-price p {
  font-size: 14px;
  margin: 5px;
  padding: 0;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-body .products .xBtn {
  font-size: 11px;
  position: relative;
  top: 8px;
  left: 150px;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-footer {
  justify-content: center;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-footer .subTotal {
  margin: 0 33px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-footer .subTotal p {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-footer button {
  margin: 6px 0 10px 0;
  width: 86.5%;
  padding: 7px 0px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: 1px solid black;
  transition: 0.5s;
  font-weight: 550;
  letter-spacing: 2px;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-footer .view {
  background-color: white;
  color: black;
}
#staticBackdrop #SideBasket .modal-dialog .parent .modal-footer .view:hover {
  color: white;
  background-color: black;
}

#staticBack {
  width: 100%;
}
#staticBack #SideBasket {
  display: flex;
  justify-content: end;
}
#staticBack #SideBasket .modal-dialog {
  width: 100%;
}
@media screen and (max-width: 990px) {
  #staticBack #SideBasket .modal-dialog {
    max-width: 100%;
    max-height: 200px;
    height: 100%;
  }
  #staticBack #SideBasket .modal-dialog .sidebar-body {
    display: none;
  }
}
#staticBack #SideBasket .modal-dialog .sidebar-body {
  padding: 16px 48px;
  position: relative;
}
#staticBack #SideBasket .modal-dialog .sidebar-body h5 {
  color: #212529;
  font-weight: bolder;
  margin-bottom: 48px;
  overflow: hidden;
}
#staticBack #SideBasket .modal-dialog .sidebar-body .dropdown-container {
  position: relative;
  margin-bottom: 2rem;
}
#staticBack #SideBasket .modal-dialog .sidebar-body .dropdown-container ul {
  color: #868e96;
  position: relative;
  transition: 0.3s;
  list-style: none;
}
#staticBack #SideBasket .modal-dialog .sidebar-body .dropdown-container ul li {
  padding: 8px 16px 8px 0;
  align-items: center;
  cursor: pointer;
}
#staticBack #SideBasket .modal-dialog .sidebar-body .dropdown-container ul li i {
  font-size: 12px;
}
#staticBack #SideBasket .modal-dialog .sidebar-body .dropdown-container ul .active {
  transition: 0.3s;
}
#staticBack #SideBasket .modal-dialog .sidebar-body .dropdown-container ul .active:hover {
  color: #bcac76;
}
#staticBack #SideBasket .modal-dialog .sidebar-body .dropdown-list {
  margin-left: 1rem;
  display: none;
  position: absolute;
  top: 100%;
  z-index: 2;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
#staticBack #SideBasket .modal-dialog .sidebar-body .dropdown-list .dropdown-items:hover {
  color: #bcac76;
}
#staticBack #SideBasket .modal-dialog .sidebar-body .contact {
  margin-bottom: 24px;
  color: #212529;
}
#staticBack #SideBasket .modal-dialog .sidebar-body .contact i {
  margin-right: 0.5rem;
}
#staticBack #SideBasket .modal-dialog .sidebar-body .contact span {
  font-size: 17.5px;
  font-family: monospace;
}
#staticBack #SideBasket .modal-dialog .sidebar-body p {
  color: #868e96;
  font-size: 14px;
  font-weight: 500;
}
#staticBack #SideBasket .modal-dialog .parent {
  border-radius: 0;
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
  height: 100vh;
}
#staticBack #SideBasket .modal-dialog .parent .modal-header {
  border-bottom: none;
}
#staticBack #SideBasket .modal-dialog .parent .modal-header button {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 20px;
  transition: 0.2s;
  font-weight: 200;
}
#staticBack #SideBasket .modal-dialog .parent .modal-header button:hover {
  transform: rotate(90deg);
}
#staticBack #SideBasket .modal-dialog .parent .modal-body {
  height: 700px;
  overflow: scroll;
  overflow-x: hidden;
}
#staticBack #SideBasket .modal-dialog .parent .modal-body::-webkit-scrollbar {
  margin-right: 10px;
  width: 5px;
}
#staticBack #SideBasket .modal-dialog .parent .modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
#staticBack #SideBasket .modal-dialog .parent .modal-body::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

#static {
  width: 100%;
  margin-top: 30px;
}
#static .modal-header {
  padding-top: 35px;
  padding-right: 30px;
  border-bottom: none;
}
#static #SideBasket {
  display: flex;
  justify-content: center;
}
#static #SideBasket .modal-dialog {
  width: 100%;
}
#static #SideBasket .modal-dialog .modal-header {
  border-bottom: none;
}
#static #SideBasket .modal-dialog .modal-header button {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 20px;
  transition: 0.2s;
  font-weight: 200;
}
#static #SideBasket .modal-dialog .modal-header button:hover {
  transform: rotate(90deg);
}
#static #SideBasket .modal-dialog .sidebar-body {
  padding: 16px 48px 0 48px;
  position: relative;
}
#static #SideBasket .modal-dialog .sidebar-body h5 {
  font-size: 27px;
  font-weight: bolder;
  padding-bottom: 28px;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
}
#static #SideBasket .modal-dialog .sidebar-body h5 span {
  color: gray;
  display: inline-block;
  margin: 0 10px;
  transition: 0.1s;
  cursor: pointer;
}
#static #SideBasket .modal-dialog .sidebar-body h5 span:hover {
  color: black;
}
#static #SideBasket .modal-dialog .sidebar-body h5 #Login {
  color: #bcac76;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage {
  margin-top: 20px;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage .text {
  color: gray;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .inputs .inp {
  font-size: 19px;
  font-weight: bold;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .inputs .inp input {
  border: 1px solid lightgray;
  outline: none;
  width: 100%;
  padding: 6px 10px;
  margin: 0 auto;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .inputs label {
  width: 100%;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .inputs label p {
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 10px;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .inputs label p input {
  border: 1px solid lightgray;
  outline: none;
  width: 100%;
  padding: 6px 10px;
  margin: 0 auto;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .inputs .passs {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .inputs .passs .forgot {
  display: inline-block;
  padding: 0;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .inputs .passs .forgot:nth-child(2) {
  color: #9a884b;
  font-size: 15px;
  font-weight: 400;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .inputs .passs .forgot:nth-child(2):hover {
  border-bottom: 1px solid #9a884b;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .inputs .check {
  color: gray;
  margin: 5px 0 20px 0;
  cursor: pointer;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .inputs button {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  padding: 7px 0;
  margin-bottom: 20px;
  transition: 0.2s;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .inputs button:hover {
  background-color: black;
  color: white;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .line .line {
  width: 45%;
  height: 1px;
  background-color: lightgray;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .line p {
  color: gray;
  letter-spacing: 2px;
  font-size: 13px;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .icons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 50px;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .icons i {
  width: 43px;
  height: 42px;
  text-align: center;
  padding: 12px;
  margin-left: 6px;
  border: 1px solid #bcac76;
  color: #bcac76;
  transition: 0.4s;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .icons i:hover {
  color: black;
  background-color: #9a884b;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .icons i:nth-child(2) {
  border-color: lightgray;
  color: gray;
}
#static #SideBasket .modal-dialog .sidebar-body .loginPage form .icons i:nth-child(2):hover {
  color: white;
  background-color: gray;
}
#static #SideBasket .modal-dialog .sidebar-body #registerPage {
  display: none;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage {
  margin-top: 20px;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage .text {
  color: gray;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .inputs .inp {
  font-size: 19px;
  font-weight: bold;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .inputs .inp input {
  border: 1px solid lightgray;
  outline: none;
  width: 100%;
  padding: 6px 10px;
  margin: 0 auto;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .inputs label {
  width: 100%;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .inputs label p {
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 10px;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .inputs label p input {
  border: 1px solid lightgray;
  outline: none;
  width: 100%;
  padding: 6px 10px;
  margin: 0 auto;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .inputs .passs {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .inputs .passs .forgot {
  display: inline-block;
  padding: 0;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .inputs .passs .forgot:nth-child(2) {
  color: #9a884b;
  font-size: 15px;
  font-weight: 400;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .inputs .passs .forgot:nth-child(2):hover {
  border-bottom: 1px solid #9a884b;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .inputs .check {
  color: gray;
  margin: 5px 0 20px 0;
  cursor: pointer;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .inputs button {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  padding: 7px 0;
  margin-bottom: 20px;
  transition: 0.2s;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .inputs button:hover {
  background-color: black;
  color: white;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .line .line {
  width: 45%;
  height: 1px;
  background-color: lightgray;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .line p {
  color: gray;
  letter-spacing: 2px;
  font-size: 13px;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .icons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 50px;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .icons i {
  width: 43px;
  height: 42px;
  text-align: center;
  padding: 12px;
  margin-left: 6px;
  border: 1px solid #bcac76;
  color: #bcac76;
  transition: 0.4s;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .icons i:hover {
  color: black;
  background-color: #9a884b;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .icons i:nth-child(2) {
  border-color: lightgray;
  color: gray;
}
#static #SideBasket .modal-dialog .sidebar-body .registerPage form .icons i:nth-child(2):hover {
  color: white;
  background-color: gray;
}

#stat {
  width: 100%;
}
#stat .modal-header {
  padding-right: 30px;
  border-bottom: none;
}
#stat .modal-dialog {
  max-width: 1300px;
}
#stat #SideBasket {
  display: flex;
  justify-content: center;
}
#stat #SideBasket .modal-dialog {
  width: 100%;
}
#stat #SideBasket .modal-dialog .modal-header {
  border-bottom: none;
}
#stat #SideBasket .modal-dialog .modal-header button {
  margin-right: 10px;
  font-size: 20px;
  transition: 0.2s;
  font-weight: 200;
}
#stat #SideBasket .modal-dialog .modal-header button:hover {
  transform: rotate(90deg);
}
#stat #SideBasket .modal-dialog .sidebar-body {
  padding: 16px 48px 0 48px;
  position: relative;
}
#stat #SideBasket .modal-dialog .sidebar-body .modal-body img {
  width: 538px;
  max-height: 538px;
  -o-object-fit: cover;
     object-fit: cover;
}
#stat #SideBasket .modal-dialog .sidebar-body .additional-info {
  padding: 20px;
}
#stat #SideBasket .modal-dialog .sidebar-body .slider-nav {
  padding-top: 10px;
}
#stat #SideBasket .modal-dialog .sidebar-body .slider-for img,
#stat #SideBasket .modal-dialog .sidebar-body .slider-nav img {
  visibility: visible;
  max-width: 100%;
  height: auto !important;
  -o-object-fit: contain;
     object-fit: contain;
}
#stat #SideBasket .modal-dialog .sidebar-body .slider-nav img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
#stat #SideBasket .modal-dialog .sidebar-body .col-lg-6 h2 {
  margin-bottom: 1.5rem;
  font-weight: bolder;
  color: #212529;
}
#stat #SideBasket .modal-dialog .sidebar-body .text-primary {
  color: #bcac76 !important;
}
#stat #SideBasket .modal-dialog .sidebar-body .text-gray-300 {
  color: #dee2e6;
}
#stat #SideBasket .modal-dialog .sidebar-body .text-uppercase {
  letter-spacing: 0.15em;
}
#stat #SideBasket .modal-dialog .sidebar-body .detail-option-heading span {
  color: #adb5bd;
  font-family: "vremenagrotesk", sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
}
#stat #SideBasket .modal-dialog .sidebar-body .detail-quantity {
  max-width: 5rem;
  text-align: center;
  color: #212529;
  border-radius: 0;
  border-color: #212529;
}
#stat #SideBasket .modal-dialog .sidebar-body .btn-dark {
  border-radius: 0;
}
#stat #SideBasket .modal-dialog .sidebar-body a {
  color: #bcac76;
}
#stat #SideBasket .modal-dialog .sidebar-body a:hover {
  color: #817241;
}
#stat #SideBasket .modal-dialog .sidebar-body .fab:hover {
  color: #817241;
}
#stat #SideBasket .modal-dialog .sidebar-body .detail-option-btn-label {
  color: #bcac76;
  border-color: #bcac76;
}
#stat #SideBasket .modal-dialog .sidebar-body .detail-option-btn-label:hover {
  color: #212529;
  background-color: #a89454;
  border-color: #a89454;
}
#stat #SideBasket .modal-dialog .sidebar-body .input-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}
#stat #SideBasket .modal-dialog .sidebar-body .btn {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
}
#stat #SideBasket .modal-dialog .sidebar-body .detail-option .btn-selectpicker {
  background-color: #fff;
  color: #495057;
  border: 1px solid #ced4da;
}
#stat #SideBasket .modal-dialog .sidebar-body .detail-option-btn-label {
  margin-right: 10px;
}
#stat #SideBasket .modal-dialog .sidebar-body .detail-quantity {
  border: 1px solid #ced4da;
  outline: none;
  font-size: 20px;
}
#stat #SideBasket .modal-dialog .sidebar-body .btn-dark {
  padding: 12px;
  background-color: #343a40;
  color: #fff;
  border: 1px solid #343a40;
}
#stat #SideBasket .modal-dialog .sidebar-body .btn-dark:hover {
  background-color: #23272b;
  border: 1px solid #23272b;
}
#stat #SideBasket .modal-dialog .sidebar-body .text-hover-primary:hover {
  color: #007bff;
}
#stat #SideBasket .modal-dialog .sidebar-body .detail-option .btn-selectpicker {
  display: none;
}
#stat #SideBasket .modal-dialog .sidebar-body select {
  border: 1px solid #ced4da;
  width: 220px;
  padding: 9px 12px;
  color: #495057;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  outline: none;
}
#stat #SideBasket .modal-dialog .sidebar-body .btn-selectpicker {
  border-color: #817241;
}
#stat #SideBasket .modal-dialog .sidebar-body .filter-option {
  height: 100px;
}
#stat #SideBasket .modal-dialog .sidebar-body .fresh {
  background-color: #a89454;
  color: #343a40;
  padding: 2px 6px 6px 6px;
  position: absolute;
  top: 20px;
  left: 25px;
  z-index: 100;
  font-size: 14px;
}
#stat #SideBasket .modal-dialog .sidebar-body .sale {
  background-color: #23272b;
  color: white;
  padding: 4px 6px 6px 6px;
  position: absolute;
  top: 65px;
  left: 25px;
  z-index: 100;
}/*# sourceMappingURL=header.css.map */