* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

header .header {
  width: 100%;
  height: 56px;
  font-size: 0.875rem;
  color: #343a40;
  background-color: #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  position: relative;
  z-index: 2;
}
header .right {
  padding-right: 25px;
}
header .social-media {
  margin-left: 15px;
}
header .social-media i {
  font-size: 14px;
  margin-right: 5px;
}
header .social-media span {
  font-size: 15px;
  font-family: monospace;
}
header .fa-brands:hover {
  cursor: pointer;
  color: #bcac76;
}
header .fa-phone {
  margin-left: 15px;
}
header .fa-solid {
  font-size: 12px;
  font-weight: bolder;
}
header .dropbtn {
  border: none;
  background-color: transparent;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  color: #343a40;
}
header .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 150px;
  overflow: auto;
  z-index: 1;
}
header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header input::-moz-placeholder {
  color: #b6bdc4;
}
header input::placeholder {
  color: #b6bdc4;
}
header .lists {
  margin-top: 30px;
}
header .lists ul {
  display: flex;
  list-style: none;
}
header .lists ul li {
  z-index: 10000;
  cursor: pointer;
  padding: 0 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  text-decoration: none;
}
header .lists ul li .active {
  color: black;
}
header .lists ul li:hover {
  color: black;
}
header .lists .home-list {
  display: none;
  position: relative;
  left: 100px;
  font-size: 14px;
  width: 30%;
  background-color: white;
  padding: 12px 0 12px 48px;
}
header .lists .home-list li {
  display: flex;
  padding: 7px 0;
  position: relative;
  right: 17px;
  font-weight: 600;
  color: #868e96;
}
header .input-basket {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px 0 50px;
}
header .input-basket .search {
  padding: 5px;
  margin-top: 6px;
  border-bottom: 1px solid lightgray;
  transition: 0.4s;
}
header .input-basket .search input {
  border: none;
  outline: none;
  background-color: transparent;
}
header .input-basket .search i {
  font-size: 18px;
}
header .input-basket .search:hover {
  border-bottom: 1px solid black;
}
header .input-basket .person-basket .person {
  font-size: 26px;
}
header .input-basket .person-basket .basket {
  font-size: 22px;
}
header .input-basket .person-basket .menu {
  font-size: 26px;
}
header .input-basket .person-basket i {
  padding: 0 6px;
  font-size: 22px;
  transition: 0.3s;
}
header .input-basket .person-basket i:hover {
  color: #bcac76;
}
header .input-basket .person-basket span {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-size: 11px;
  background-color: #bcac76;
}
header .input-basket .person-basket .wishlist {
  right: 142px;
}
header .input-basket .person-basket .baskett {
  right: 103px;
}

#dropDown {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#dropDown .title {
  color: black;
  font-weight: 600;
}
#dropDown p {
  font-weight: 500;
  color: gray;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}
#dropDown p:hover {
  color: black;
}
#dropDown p span {
  display: inline-block;
  margin-left: 12px;
  font-size: 11px;
  padding: 4px 12px;
  border-radius: 10px;
  background-color: #f7f5ef;
  color: #bcac76;
  font-weight: 700;
}
#dropDown p a {
  text-decoration: none;
  color: gray;
}
#dropDown p a:hover {
  color: black;
}
#dropDown #homeDrop {
  display: none;
}
#dropDown .homeDrop {
  animation-duration: 0.5s;
  box-shadow: 1px 2px 10px 2px lightgray;
  position: relative;
  top: 80px;
  left: 140px;
  background-color: white;
  padding: 20px 20px;
  transition: all 0.4s;
}
#dropDown .shopDown {
  display: none;
  position: relative;
  top: 80px;
  left: 220px;
  background-color: white;
}
#dropDown .shopDown .parent {
  display: flex;
}
#dropDown .shopDown .parent .pages {
  padding: 55px 30px 0 30px;
}
#dropDown .shopDown .parent .proPages {
  padding: 55px 30px 0 30px;
}
#dropDown .shopDown .parent .image {
  height: 300px;
  overflow: hidden;
  text-align: center;
}
#dropDown .shopDown .parent .image img {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
#dropDown .iconsDown {
  display: none;
  box-shadow: 1px 2px 10px 2px lightgray;
  position: relative;
  top: 80px;
  left: 300px;
  padding: 20px 20px 0 20px;
  transition: all 0.4s;
  background-color: white;
}
#dropDown .iconsDown .icon-name {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#dropDown .iconsDown .icon-name p {
  color: #343a40;
  font-weight: 700;
  font-size: 15px;
  padding: 0 5px;
}
#dropDown .iconsDown .icon-name p i {
  font-size: 40px;
}
#dropDown .iconsDown .icon-name .dress {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#dropDown .iconsDown .icon-name:hover .dress {
  border-bottom: 2px solid black;
}
#dropDown .iconsDown .bottomText {
  padding: 20px 0 5px 0;
  display: flex;
  justify-content: center;
  background-color: #bcac76;
}
#dropDown .iconsDown .bottomText p {
  color: black;
  font-weight: 500;
}
#dropDown .pagesDown {
  display: none;
  box-shadow: 1px 2px 10px 2px lightgray;
  position: relative;
  top: 80px;
  left: 140px;
  padding: 20px 20px 0 20px;
  transition: all 0.4s;
  background-color: white;
  width: 85%;
}
#dropDown .pagesDown .image img {
  width: 100%;
}
#dropDown .pagesDown .info-1 {
  margin-top: 16px;
}
#dropDown .pagesDown .info-1 h4 {
  font-size: 16px;
  font-weight: 600;
}
#dropDown .docsDrop {
  display: none;
  width: 15%;
  box-shadow: 1px 2px 10px 2px lightgray;
  position: relative;
  top: 80px;
  left: 460px;
  background-color: white;
  padding: 20px 0 10px 0;
  transition: all 0.4s;
}
#dropDown .docsDrop p {
  padding: 5px 20px;
  font-weight: 500;
}/*# sourceMappingURL=header.css.map */